<div id="request_modal" class="modal-overlay" aria-hidden="true">
  <div tabindex="-1" class="modal-overlay__close" data-micromodal-close>
    <div class="modal-content"role="dialog">
      <div class="modal-header">
        <h2 class="modal-header__title">Request in Reading Room</h2>
        <button class="modal-header__button" aria-label="Close">
          <span class="material-icons" aria-hidden="true" data-micromodal-close>close</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Request {{object.title}}</h3>
        <form>
          <div class="modal-form__input-group">
            <!-- TODO: add hidden inputs here -->
            <div class="modal-form__input">
              <label for="scheduledDate">Scheduled date of visit*</label>
              <input type="date" id="scheduledDate" required=required />
            </div>
            <p class="modal__info">To track your requests, <a href="https://raccess.rockarch.org">login to RACcess</a></p>
            <div class="modal-form__buttons">
              <button type="submit" class="btn btn--orange btn--sm">Request Item</button>
              <button type="reset" class="btn btn--gray btn--sm" data-micromodal-close>Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
