<div id="request_modal" class="modal-overlay" aria-hidden="true">
  <div class="modal-overlay__close" data-micromodal-close>
    <div class="modal-content" role="dialog">
      <div class="modal-header">
        <h2 tabindex="0" class="modal-header__title">Request in Reading Room</h2>
        <button class="modal-header__button" aria-label="Close">
          <span class="material-icons" aria-hidden="true" data-micromodal-close>close</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Request "{{object.title}}"</h3>
        <form method="post" action="https://raccess.rockarch.org/aeon.dll">
          <div class="modal-form__input-group">
            <input type="hidden" name="AeonForm" value="EADRequest">
            <input type="hidden" name="WebRequestForm" value="DefaultRequest">
            <input type="hidden" name="RequestType" value="Loan">
            <input type="hidden" name="DocumentType" value="Default">
            <input type="hidden" name="SubmitButton" value="Submit Request">
            <input type="hidden" name="UserReview" value="No">
            <!-- Item inputs -->
            <input type="hidden" name="Request" value="{{object.uri}}">
            <input type="hidden" name="ItemDate" value="{% include date_list.html object=object %}">
            <input type="hidden" name="ItemTitle" value="{{object.title}}">
            <input type="hidden" name="ItemAuthor" value="{% include author_list.html object=object %}">
            <input type="hidden" name="CallNumber" value="{% include call_numbers.html object=object %}">
            <input type="hidden" name="ItemInfo3" value="{{site.url}}/items/{{page.id}}/">
            <div class="modal-form__input">
              <label for="ScheduledDate">Scheduled date of visit (mm/dd/yyy) *</label>
              <input type="text" id="datepicker" name="ScheduledDate" pattern="\d{1,2}/\d{1,2}/\d{4}" required=required />
            </div>
            <div class="modal-form__buttons">
              <button type="submit" class="btn btn--orange btn--sm">Request Item</button>
              <button type="reset" class="btn btn--gray btn--sm" data-micromodal-close>Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
