<!--JQuery-->
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.js"></script>

<!-- Lunr.js for search -->
<script type="text/javascript" src="//unpkg.com/lunr/lunr.js"></script>
<script defer type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/lunr-feed.js"></script>

<!--Micromodal-->
<script type="text/javascript" src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    MicroModal.init();
  })
</script>
