<ul class="list--unstyled">
{% for subject in object.subjects %}
  {% capture subject_id %}{{ subject.ref | split: "/" | last }}{% endcapture %}
  {% assign obj = site.data.subject[subject_id] %}
  <li>{{obj.title | strip_newlines | escape}}</li>
{% endfor %}
{%- for agent in object.linked_agents -%}
  {% if agent.role == "subject" %}
    {%- capture agent_title -%}{%- include title_from_ref.html object=agent -%}{%- endcapture -%}
    <li>{{agent_title | strip_newlines | escape}}</li>
  {% endif %}
{%- endfor -%}
</ul>
