{% comment %}Returns the title of a linked object{% endcomment %}
{%- capture object_id -%}{{ include.object.ref | split: "/" | last }}{%- endcapture -%}
{%- if include.object.ref contains "corporate_entities" -%}
  {%- assign object_data = site.data.agent_corporate_entity[object_id] -%}
{%- elsif include.object.ref contains "people" -%}
  {%- assign object_data = site.data.agent_person[object_id] -%}
{%- elsif include.object.ref contains "family" -%}
  {%- assign object_data = site.data.agent_family[object_id] -%}
{%- elsif include.object.ref contains "subjects" -%}
  {%- assign object_data = site.data.subject[object_id] -%}
{%- endif -%}
{{- object_data.title -}}
