.not-found {
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}

.search--bar {
  width: 100%;
  background: $neutral-sand;
  justify-content: center;
  padding: 15px 0px;
}

.search--interior {
  @include grid-column(12);
  float: left;
  display: flex;
  justify-content: center;
  & .input-group__search {
    width: 50%;
    margin: 0;
  }
}

.item__header-left  {
  @include grid-column(8);
}

.item__title  {
  @include page-title;
  margin-bottom: 10px;
}

.item__callnumber {
  font-family: $sans-serif-stack;
  font-size: 18px;
}

.item__header-right {
  @include grid-column(2);
  text-align: right;
  margin-top: 30px;
}

.item-details {
  @include grid-column(10);
  @include grid-push(1);
  padding-bottom: 80px;
  margin-top: 40px;
}

.item-details__label {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

// overrides very specific rule
h2:not(:first-child) {
    margin-top: 30px;
}

.item__attribute {
  &:first-child {
    margin-left: 0;
  }
  &:not(:last-child) {
    border-right: 1px solid $neutral-sand;
  }
}

.wrapper--notes {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item__note {
  @include grid-column(6);
  box-sizing: border-box;
  margin-left: 0;
  padding-right: 15px;
}

.list--unstyled {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.modal-overlay {
  display: none;
  &.is-open {
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
  }
}

.modal-overlay__close {
  height: 100%;
  width: 100%;
}

.modal-content {
  width: 50%;
  min-height: 50%;
  background: #FFFFFF;
  position: relative;
  top: 25%;
  left: 25%;
}

.modal-body {
  padding: 0 25px 25px 25px;
  box-sizing: border-box;
}

.results-wrapper {
  float: left;
  margin: 40px 0px;
  width: 100%;
}

.results__loading {
  text-align: center;
  opacity: 0;
  height: 0;
  transition: $transition-default;
  &.is-loading {
    opacity: 1;
    height: 100%;
    transition: $transition-default;
  }
}

.results__list {
  opacity: 1;
  transition: $transition-default;
  &.is-loading {
    opacity: 0;
    transition: $transition-default;
  }
}

.tile-list {
  display: flex;
  flex-wrap: wrap;
}

.tile__authors, .tile__callnumber {
  @extend .tile__date;
  line-height: normal;
}

.results__summary {
  font-family: $sans-serif-stack;
  font-size: 28px;
  color: $deep-navy;
  margin-left: $gutters-default;
  margin-bottom: 20px;
}
