.btn--blue {
  background: $deep-blue;
  color: $pure-white;
  border: 1px solid $deep-blue;
  &:hover {
    background: $dark-blue;
    border: 1px solid $dark-blue;
  }
}


.not-found {
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}

.search--bar {
  width: 100%;
  background: $neutral-sand;
  justify-content: center;
  padding: 15px 0px;
}

.search--interior {
  @include grid-column(12);
  float: left;
  display: flex;
  justify-content: center;
  & .input-group__search {
    width: 50%;
    margin: 0;
  }
}

.select__search--wrapper::after {
  // Makes the down arrow in the search bar clickable
  pointer-events: none;
}

.item__header {
  flex-wrap: wrap;
}

.item__header-left  {
  @include grid-column(10);
  @media screen and (min-width: $break-lg) {
    @include grid-column(7);
  }
}

.item__title  {
  @include page-title;
  font-size: 32px;
  margin-bottom: 10px;
  @media screen and (min-width: $break-lg) {
    font-size: 36px;
  }
}

.item__callnumber {
  font-family: $sans-serif-stack;
  font-size: 18px;
}

.item__header-right {
  @include grid-column(10);
  margin-top: 30px;
  @media screen and (min-width: $break-lg) {
    @include grid-column(3);
    text-align: right;
    margin-right: $gutters-default;
  }
}

.wrapper--home {
  background: $off-white;
}

.wrapper--flex-wrap {
  @extend .wrapper;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item-details {
  @include grid-column(10);
  @include grid-push(1);
  font-family: $sans-serif-stack;
  padding-bottom: 80px;
  margin-top: 20px;
  & p, ul {
    font-family: $sans-serif-stack;
  }
}

.item-details__label {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

// overrides very specific rule
h2:not(:first-child) {
    margin-top: 30px;
}

.item__attribute {
  @include grid-column(12);
  box-sizing: border-box;
  margin-left: 0;
  padding-right: 15px;
  @media screen and (min-width: $break-md) {
    @include grid-column(4);
    margin-left: 0;
    padding-right: 15px;
    text-align: left;
  }
}

.item__note {
  @include grid-column(12);
  box-sizing: border-box;
  margin-left: 0;
  padding-right: 15px;
  @media screen and (min-width: $break-md) {
    @include grid-column(6);
    margin-left: 0;
    padding-right: 15px;
  }
}

.list--unstyled {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-overlay {
  display: none;
  &.is-open {
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
  }
}

.modal-overlay__close {
  height: 100%;
  width: 100%;
}

.modal-content {
  width: 50%;
  min-height: 50%;
  background: #FFFFFF;
  position: relative;
  top: 25%;
  left: 25%;
}

.modal-body {
  padding: 0 25px 25px 25px;
  box-sizing: border-box;
}

.results-wrapper {
  @include grid-column(10);
  @include grid-push(1);
  margin-bottom: 40px;
  min-height: 50vh;
}

.results__loading {
  margin-top: 0;
  text-align: center;
  opacity: 0;
  height: 0;
  transition: opacity 0.2s ease;
  &.is-loading {
    margin-top: 4rem;
    opacity: 1;
    height: 100%;
    transition: opacity 0.2s ease;
  }
}

.results__list {
  opacity: 1;
  transition: opacity 0.2s ease;
  &.is-loading {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

.tile-list {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  position: relative;
  min-height: 120px;
  @media screen and (min-width: $break-lg) {
    min-height: 130px;
  }
}

.tile__title {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

.tile__link {
  min-height: 0;
  font-size: inherit;
  font-family: inherit;
  color: $dark-gray;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:hover {
    text-decoration: none;
    color: $dark-gray;
  }
}

.tile__authors, .tile__callnumber {
  @extend .tile__date;
  line-height: normal;
}

.results__summary {
  font-family: $sans-serif-stack;
  font-size: 28px;
  color: $deep-navy;
  margin-left: $gutters-default;
  margin-top: 31px;
  margin-bottom: 18px;
  font-weight: normal;
}

input[name=ScheduledDate] {
  width: 80%;
}

.ui-datepicker-trigger {
  width: 20%;
  box-sizing: border-box;
  padding: 0 5%;
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 45px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  vertical-align: middle;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  background: none;
  border: none;
}

.ui-widget, .ui-widget a {
  font-family: $sans-serif-stack;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  vertical-align: unset;
}

// Center text in calendar days
.ui-datepicker td span, .ui-datepicker td a {
  text-align: center;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  font-family: $sans-serif-stack;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 6px 8px;
  transition: $transition-default;
  background: $off-white;
  color: $med-gray;
  border: 1px solid $light-med-gray;
  &:hover {
    background: $lighter-gray;
    color: $med-gray;
  }
}

.ui-datepicker-header {
  background: $neutral-sand;
}
