<!DOCTYPE html>
<html lang="en">
<html>
  {% include head.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQRWDJK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
      <a href="#main" class="skip-link visually-hidden">Jump directly to main content</a>
    </nav>
    {% include header.html %}
    {% include scripts.html %}
    {% if page.dir != "/" %}
      <div class="wrapper">
        <div class="search--bar">
          {% include search.html class="search--interior" %}
        </div>
      </div>
      {% capture object_id %}{{page.id}}{% endcapture %}
      {% assign object = site.data.resource[object_id] %}
    {% endif %}
    {% if page.dir == "/" %}
    <div class="wrapper--home">
    {% else %}
    <div class="wrapper">
    {% endif %}
      <div class="container">
        <main id="main">
          {{content}}
        </main>
      </div>
    </div>
    {% include footer.html %}
    {% include request_modal.html %}
  </body>
</html>
