---
layout: default
---

{% capture object_id %}{{page.id}}{% endcapture %}
{% assign object = site.data.resource[object_id] %}


<div class="wrapper item__header">
  <div class="item__header-left">
    <h1 class="page__title item__title">
      {{ object.title }}
    </h1>
    <p class="item__callnumber">{% include call_numbers.html object=object %}</p>
  </div>
  <div class="item__header-right">
    <button class="btn btn--md btn--gray">Request in Reading Room</button>
  </div>

</div>

<div class="item-details">
  <div class="wrapper">
    <div class="container item__attribute">
      <h2 class="item-details__label">Authors</h2>
      {% include author_list.html object=object %}
    </div>
    <div class="container item__attribute">
      <h2 class="item-details__label">Subject Terms</h2>
      {% include subject_list.html object=object %}
    </div>
    <div class="container item__attribute">
      <h2 class="item-details__label">Published</h2>
      {% include date_list.html object=object %}
    </div>
  </div>
  <h2 class="item-details__label">Notes</h2>
    {% include note_list.html %}
</div>
