---
layout: default
---

{% capture object_id %}{{page.id}}{% endcapture %}
{% assign object = site.data.resource[object_id] %}


<div class="wrapper">
  <h1 class="item__title page__title">
  {{ object.title }}
  </h1>
  <div class="item__request-btn">
    <button class="btn btn--md btn--gray">Request in Reading Room</button>
  </div>
</div>

<div class="item-details">
  <h2 class="item-details__title">Item Details</h2>
  <h3 class="item-details__label">Authors</h3>
    {% include author_list.html object=object %}
  <h3 class="item-details__label">Published</h3>
    {% include date_list.html object=object %}
  <h3 class="item-details__label">Subject Terms</h3>
    {% include subject_list.html object=object %}
  <h3 class="item-details__label">Notes</h3>
    {% include note_list.html %}
</div>


<!-- Demonstrates how to get top_container data -->
<!-- <ul>
{% for instance in object.instances %}
  {%- capture top_container_id -%}
    {{ instance.sub_container.top_container.ref | split: "/" | last }}
  {%- endcapture -%}
  {% assign obj = site.data.top_container[top_container_id] %}
  <li>{{obj.indicator}}</li>
{% endfor %}
</ul> -->
